/* styles.css */
.input-with-label {
    layout: horizontal;
    height: auto;
}
.input-with-label Label {
    padding: 1;
    width: 12;
    text-align: right;
}
.input-with-label Input {
    width: 1fr;
}

.user-registration-form {
    width: 80%;
    margin: 1;
}

.screen {
    align: center middle;
}
