{% include 'header.html' %} 
<h2>Preguntas Frecuentes</h2>
<p>Aqui puedes encontrar respuestas a algunas preguntas frecuentes.</p>
<input type="text" id="search" placeholder="Buscar Pregunta...">
<script>
	document.getElementById('search').addEventListener('input', function() {
		var searchQuery = this.value.toLowerCase();
		var faqList = document.getElementById('faq-list');
		var faqItems = faqList.getElementsByTagName('li');

		for (var i = 0; i < faqItems.length; i++) {
			var question = faqItems[i].textContent.toLowerCase();
			if (question.includes(searchQuery)) {
				faqItems[i].style.display = 'block';
			} else {
				faqItems[i].style.display = 'none';
			}
		}
	});
</script>
<ol id="faq-list">
	<li>
		<strong>¿Cómo cambio mi contraseña? Para cambiar tu contraseña, ve a la página de perfil, presione el botón cambiar mi contraseña e introducir los datos requeridos.</strong>
	</li>
	<li>
		<strong>¿Cómo puedo ver los Términos y condiciones aceptados? Para ver los términos y condiciones deberá dirigirse a su perfil y pulsar el botón de Términos y condiciones</strong>
	</li>
	<li>
		<strong>¿Cómo puedo ponerme una imagen de perfil? Para introducir una imagen de perfil, deberá accede a su perfil y pulsar sobre la imagen, para elegir la imagen a introducir   </strong>
	</li>
	<li>
		<strong>¿Cómo usar la aplicación? En la página principal introducir una imagen del texto y pulsar el botón de Subir y procesar archivo</strong>
	</li>
	<li>
		<strong>¿Cómo contactar con ocrsupport? Al final de la página de ayuda podemos observar los diferentes métodos de contacto con nuestro equipo</strong>
	</li>
	<li>
		<strong>¿Cómo puedo cambiar de cuenta? Para cambiar de cuenta deberá dirigirse a su perfil y pulsar el botón Cambiar de cuenta</strong>
	</li>
	<li>
		<strong>¿Cómo puedo cerrar sesión? Para cerrar sesión deberá dirigirse a su perfil y pulsar el botón Cerrar sesión</strong>
	</li>
	<li>
		<strong>¿Otros errores? Otros errores</strong>
	</li>
	<li>
		<strong>¿Cómo restablecer la contraseña si se me ha olvidado? Cierra la sesión y en inicio de sesión te aparece un botón de He olvidado mi contraseña para restablecerla </strong>
	</li>
</ol>

<!-- 
<p><a href="/chat" class="btn btn-primary btn-lg btn-block">Chat en vivo</a></p>
-->
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="AgentBot"
  agent-id="01518210-7115-4f58-b7c2-170579062503"
  language-code="es"
></df-messenger>

{% include 'footer.html' %} 
