<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registro.css') }}">



		<title>OCR</title>
		{% include 'header.html' %} 
	</head>
	<body>
		<h2>Preguntas Frecuentes</h2>
		<p>Aqui puedes encontrar respuestas a algunas preguntas frecuentes.</p>
		<ol id="faq-list">
			<li>
				<strong>Pregunta 1: ¿Cómo cambio mi contraseña? Para cambiar tu contraseña, ve a la página de perfil, presione el botón cambiar mi contraseña e introducir los datos requeridos.</strong>

			</li>
			<li>
				<strong>Pregunta 2: ¿Cómo puedo ver los Términos y condiciones aceptados? Para ver los términos y condiciones deberá dirigirse a su perfil y pulsar el botón de Términos y condiciones</strong>
			</li>
			<li>
				<strong>Pregunta 3: ¿Cómo puedo ponerme una imagen de perfil? Para introducir una imagen de perfil, deberá accede a su perfil y pulsar sobre la imagen, para elegir la imagen a introducir   </strong>
			</li>
			<li>
				<strong>Pregunta 4: ¿Cómo usar la aplicación? En la página principal introducir una iamgen del texto y pulsar el botón de Subir y procesar archivo</strong>
			</li>
			<li>
				<strong>Pregunta 5: ¿Cómo contactar con ocrsupport? Al final de la página de ayuda podemos observar los diferentes métodos de contacto con nuestro equipo</strong>
			</li>
			<li>
				<strong>Pregunta 6: ¿Cómo puedo cambiar de cuenta? Para cambiar de cuenta deberá dirigirse a su perfil y pulsar el botón Cambiar de cuenta</strong>
			</li>
			<li>
				<strong>Pregunta 7: ¿Cómo puedo cerrar sesión? Para cerrar sesión deberá dirigirse a su perfil y pulsar el botón Cerrar sesión</strong>
			</li>
			<li>
				<strong>Pregunta 8: ¿Otros errores? Otros errores</strong>
			</li>
		</ol>
		<input type="text" id="search" placeholder="Buscar Pregunta...">
		<script>
			document.getElementById('search').addEventListener('input', function() {
				var searchQuery = this.value.toLowerCase();
				var faqList = document.getElementById('faq-list');
				var faqItems = faqList.getElementsByTagName('li');

				for (var i = 0; i < faqItems.length; i++) {
					var question = faqItems[i].textContent.toLowerCase();
					if (question.includes(searchQuery)) {
						faqItems[i].style.display = 'block';
					} else {
						faqItems[i].style.display = 'none';
					}
				}
			});
		</script>
		<p><a href="/chat" class="btn btn-primary btn-lg btn-block">Chat en vivo</a></p>


		<footer>
			<address>
				<strong> Correo Electrónico: </strong><a href="ocrsupport@gmail.com">ocrsupport</a><br>
				<strong>Teléfono: </strong> + 609 409 216
			</address>
			<p>Derechos de autor © 2023 OCRteam. Todos los derechos reservados.</p>
		</footer>
	</body>
</html>
