{% include 'header.html' %} 
<h2>Preguntas Frecuentes</h2>
<ol id="faq-list">
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable1')" >
			<strong>¿Cómo cambio mi contraseña?  ▼</strong>
		</a>
		<p id ="desplegable1"style = "display:none" >Para cambiar tu contraseña, ve a la página de perfil, presione el botón cambiar mi contraseña e introducir los datos requeridos.</p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable2')" >
			<strong>¿Cómo puedo ver los Términos y condiciones aceptados?  ▼</strong> 
		</a>
		<p id ="desplegable2"style = "display:none" >Para ver los términos y condiciones deberá dirigirse a su perfil y pulsar el botón de Términos y condiciones </p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable3')" >
			<strong>¿Cómo puedo ponerme una imagen de perfil?  ▼ </strong>
		</a>
		<p id ="desplegable3"style = "display:none" >Para introducir una imagen de perfil, deberá accede a su perfil y pulsar sobre la imagen, para elegir la imagen a introducir </p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable4')" >
			<strong>¿Cómo usar la aplicación?  ▼</strong>
		</a>
		<p id ="desplegable4"style = "display:none" >En la página principal introducir una imagen del texto y pulsar el botón de Subir y procesar archivo </p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable5')" >
			<strong>¿Cómo contactar con ocrsupport?  ▼</strong>
		</a>
		<p id ="desplegable5"style = "display:none" >Al final de la página de ayuda podemos observar los diferentes métodos de contacto con nuestro equipo  </p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable6')" >
			<strong>¿Cómo puedo cambiar de cuenta?  ▼</strong>
		</a>
		<p id ="desplegable6"style = "display:none" >Para cambiar de cuenta deberá dirigirse a su perfil y pulsar el botón Cambiar de cuenta </p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable7')" >
			<strong>¿Cómo puedo cerrar sesión?  ▼</strong>
		</a>
		<p id ="desplegable7"style = "display:none" >Para cerrar sesión deberá dirigirse a su perfil y pulsar el botón Cerrar sesión</p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable8')" >
			<strong>¿Otros errores?  ▼</strong>
		</a>
		<p id ="desplegable8"style = "display:none" > Consulta tu error al chat bot y si no encuentra solución no dudes en contactar con el support</p>
	</li>
	<li>
		<a class ="inactive underlineHover" onclick="desplegar('desplegable9')" >
			<strong>¿Cómo restablecer la contraseña si se me ha olvidado?  ▼</strong>
		</a>
		<p id ="desplegable9"style = "display:none" > Cierra la sesión y en inicio de sesión te aparece un botón de He olvidado mi contraseña para restablecerla </p>
	</li>
</ol>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
		intent="WELCOME"
		chat-title="AgentBot"
		chat-icon= "https://cdn-icons-png.flaticon.com/512/2040/2040946.png"
		agent-id="01518210-7115-4f58-b7c2-170579062503"
		language-code="es"
		></df-messenger>
<style>
df-messenger {
	--df-messenger-bot-message: #878fac;
	--df-messenger-button-titlebar-color: #1b007c;
	--df-messenger-chat-background-color: #fafafa;
	--df-messenger-font-color: white;
	--df-messenger-send-icon: #878fac;
	--df-messenger-user-message: #479b3d;
}
</style>
<script>
    function desplegar(id) {
        var textoMostrar = document.getElementById(id);

        if (window.getComputedStyle(textoMostrar).display === 'block') {
            textoMostrar.style.display = 'none';
        } else {
            textoMostrar.style.display = 'block';
        }
    }
</script>


{% include 'footer.html' %} 
