{% include 'header.html' %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="registro.css">
</head>
<body>

<div class="chat-container">
    <div class="chats-list">
        <!-- Lista de chats a la izquierda -->
        <div class="chat-item" onclick="loadChat('usuario1')">{{ correo.split('@')[0] }}</div>
        <div class="chat-item" onclick="loadChat('usuario2')">Usuario 2</div>
		
        <!-- Agrega más elementos según tus necesidades -->
    </div>

    <div class="chat-content">
        <!-- Contenido del chat -->
        <div class="chat-header" id="chatHeader"></div>
        <div class="chat-messages" id="chatMessages"></div>
        <div class="chat-input">
            <textarea id="messageInput" placeholder="Escribe un mensaje..."></textarea>
            <input type="file" id="fileInput" style="display: none;" onchange="handleFileSelect(this)">
            <label for="fileInput" class="attach-button">Adjuntar</label>
            <div id="selectedFilePath"></div>
            <button id="button_chat" onclick="sendMessage()">Enviar</button>
            <!-- Puedes agregar un botón para adjuntar archivos -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>

<script>
function displayFilePath(filePath) {
    const selectedFilePath = document.getElementById('selectedFilePath');
    selectedFilePath.textContent = 'Archivo seleccionado: ' + filePath;
}

</script>

<script>
// Función para cargar un chat específico
function loadChat(username) {
    $('#chatHeader').text(username);
    $('#chatMessages').html('<div>Mensaje de ejemplo</div>');
}
</script>
<script>
// Función para enviar un mensaje
function sendMessage() {
     const message = document.getElementById('messageInput').value;
    const filePath = document.getElementById('selectedFilePath').textContent;

    const chatMessages = document.getElementById('chatMessages');
    chatMessages.innerHTML += '<div class="message sent">' + message + '</div>';
    if (filePath) {
        chatMessages.innerHTML += '<div class="message sent">' + filePath + '</div>';
    }

    document.getElementById('messageInput').value = '';
    document.getElementById('selectedFilePath').textContent = '';
    document.getElementById('fileInput').value = '';

}
</script>
<script>
function handleFileSelect(input) {
    const file = input.files[0];
    if (file) {
        const filePath = file.name;
        displayFilePath(filePath);
    }
}
</script>


{% include 'footer.html' %} 

