{% include 'header.html' %}

<div class="container mt-5">
    <h2 class="text-dark">Editando Texto:</h2>
    
    <div class="card my-4">
        <div class="card-body">
            <form method="POST" action="">
                <div class="form-group">
                    <label for="nuevo_contenido">Nuevo Contenido:</label>
                    <textarea class="form-control" id="nuevo_contenido" name="nuevo_contenido" rows="8">{{ documento[1] }}</textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}
