<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>OCR</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registro.css') }}">
		<link rel="icon" href="static/favicon.png" type="image/png">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/restricted" >
				<img src="static/favicon.png" alt="Inicio" style="width: 30px; height: auto; margin-right: 10px;">OCR
			</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
												    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						{% if 'logged_in' in session %}
						<a href="/mistextos" style="margin-bottom: 0px; display: flex; align-items: center;">
							<i class="fas fa-file-alt fa-lg text-white" style="margin-right: 0px;"></i>
							Mis textos
						</a>

						<a href="/chat" style="margin-bottom: 0px; display: flex; align-items: center;">
							<i class="chat_users" style="margin-right: 10px;"></i>
							Chat
						</a>
					</ul>
					<a href="/perfil-usuario" class="btn btn-profile" role="button" style="margin-right: 10px">
						<i class="fas fa-user fa-lg text-white" style="margin-right: 10px;font-size: 24px;"></i>
					</a>
					{% else %}
					</ul>
					<a href="/inicio_sesion" class="btn btn-light" role="button" style="margin-right: 10px">Inicio/Registro</a>
					{% endif %}
				</div>
		</nav>
