{% include 'header.html' %}

<head>
    <meta charset="utf-8">
    <title>Registro e Inicio de Sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>

    <!-- Contenido específico de home.html -->
    <div class="row mt-5">
        <div class="col-12 text-center">
            <a href="/registro" class="btn btn-primary">Registro</a>
            <a href="/inicio_sesion" class="btn btn-primary">Inicio de Sesión</a>
        </div>
    </div>
    </div>




</body>

</html>