
{% include 'header.html' %}
<head>
    <meta charset="utf-8">
    <title>Registro e Inicio de Sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- Incluir el navbar desde header.html -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Incluir el contenido del navbar -->
                <div w3-include-html="header.html"></div>
            </div>
        </div>

        <!-- Contenido específico de home.html -->
        <div class="row mt-5">
            <div class="col-12 text-center">
                <button id="registro" class="btn btn-primary">Registro</button>
                <button id="inicio-sesion" class="btn btn-success ml-3">Inicio de Sesión</button>
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Script para incluir el archivo header.html -->
    <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /*loop through a collection of all HTML elements:*/
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("w3-include-html");
                if (file) {
                    /*make an HTTP request using the attribute value as the file name:*/
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            /*replace the attribute with the HTML of the file:*/
                            elmnt.innerHTML = this.responseText;
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /*exit the function:*/
                    return;
                }
            }
        }
        includeHTML();
    </script>
</body>
</html>
