{% include 'header.html' %}
<body>
    <div class="container text-center mt-5">
        <h1>Bienvenido a la OCR de Reconocimiento de Texto Manuscrito</h1>
        <p>Transforma texto manuscrito en texto digital de manera sencilla.</p>
        <div class="row mt-4">
            <div class="col-md-6">
                <a href="/registro" class="btn btn-primary btn-lg btn-block">Registro</a>
            </div>
            <div class="col-md-6">
                <a href="/inicio_sesion" class="btn btn-success btn-lg btn-block">Inicio de Sesión</a>
            </div>
        </div>
    </div>
</body>

</html>