{% include 'header.html' %}


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a class="active"> INICIAR SESIÓN </a>
    <a class="inactive underlineHover" href="/registro">REGISTRARSE</a>


    

    <!-- Login Form -->
    <form action="/inicio_sesion" method="post">
      <input type="text" id="login" class="fadeIn second" name="correo" placeholder="correo">
      <input type="password" id="contrasena" class="fadeIn third" name="contrasena" placeholder="contraseña">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>
    {% if error %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% elif success %}
    <p class="alert alert-success" role="alert">{{success}}</p>
    {% endif %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/olvido_contrasena">He olvidado mi contraseña</a>
    </div>

  </div>
</div>



</body>

</html>
