{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inicio_sesion.css') }}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Iniciar Sesión </h2>
    <a class="inactive underlineHover" href="/registro">Registrarse</a>


    

    <!-- Login Form -->
    <form action="/inicio_sesion" method="post">
      <input type="text" id="login" class="fadeIn second" name="correo" placeholder="correo">
      <input type="text" id="contraseña" class="fadeIn third" name="contrasena" placeholder="contraseña">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>
    {% if error %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% elif mensaje_confirmacion %}
    <p class="alert alert-success" role="alert">{{success}}</p>
    {% endif %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/contrasena_olvidada">Contraseña olvidada?</a>
    </div>

  </div>
</div>



</body>

</html>