{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registro.css') }}">

<body>
    <div class="container mt-5">
        <h1>Iniciar Sesion</h1>
        <form action="/inicio_sesion" method="post" class="mt-4">
            <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" name="correo" required>
            </div>
            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" name="contrasena" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>
</body>