{% include 'header.html' %}

<p>Bienvenido, <strong>{{ correo.split('@')[0] }}</strong>, aquí encontrarás tus textos:</p>

<div class="container p-5 my-5 bg-dark text-white">
    <h1>Mis Textos Generados</h1>
    {% if documentos %}
    <ul>
        {% for documento_id, titulo, contenido in documentos %}
            <li>
                {{ titulo }} - {{contenido}}
                
                <a href="{{ url_for('auth.generar_pdf', id=documento_id) }}"><img src="static/pdf.png" alt="Generar PDF" style="width: 30px;">Generar PDF</a>
                <a href="{{ url_for('auth.generar_word', id=documento_id) }}"><img src="static/word.png" alt="Generar Word" style="width: 30px;">Generar Word</a>
                <a href="mailto:?subject={{titulo}}&body={{contenido}}"><img src="static/correo.png" alt="Compartir con correo" style="width: 30px;">Compartir por correo</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No has generado ningún texto aún.</p>
{% endif %}
</div>

{% include 'footer.html' %}

