{% include 'header.html' %}

<p>Bienvenido, <strong>{{ correo.split('@')[0] }}</strong>, aquí encontrarás tus textos:</p>

<div class="container p-5 my-5 bg-dark text-white">
    <h1>Mis Textos Generados</h1>
    {% if documentos %}
        <ul>
            {% for documento in documentos %}
                <li>{{ documento[2] }} - <a href="{{ url_for('auth.descargar_documento', id=documento[0]) }}">{{ documento[1] }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No has generado ningún texto aún.</p>
    {% endif %}
</div>

{% include 'footer.html' %}

