<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='perfil-usuario.css') }}">
    <title>OCR</title>
</head>

<body>
    <div class="profile-container text-center mt-5">
            <div class="profile-image">
            <img src="static/perfil.png" alt="Imagen de Perfil">
        </div>
            <h1 class="profile-username">Nombre de Usuario</h1>
            <p>Correo electrónico</p>
            <p>Nombre y apellidos</p>
            <p>Ayuda</p>
            <p>cambiar de cuenta</p>
            <p>Cerrar sesión</p>
        </div>
    </div>
</body>

</html>
