<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='perfil.css') }}">

    <title>Mi Perfil</title>
    {% include 'header1.html' %}
</head>

<body>
    <div class="container">
        <h1>Mi Perfil</h1>
        
        <!-- 
        
        <form action="/editar_perfil" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="">
            </div>

            <div class="form-group">
                <label for="correo">Correo Electrónico:</label>
                <input type="email" class="form-control" id="correo" name="correo" value="">
            </div>

            <div class="form-group">
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value="">
            </div>

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

    </div>
    <div class="form-group">
        <label for="imagen_perfil">Imagen de Perfil:</label>
        <input type="file" class="form-control-file" id="imagen_perfil" name="imagen_perfil">
    </div>
-->
    
    <div class="col-md-6">
        <a href="/cambio_contrasena" class="btn btn-primary btn-lg btn-block">Cambiar Contraseña</a>
    </div>
</body>

</html>