<!doctype html>
<html lang="en">

<head>
    {% include 'header1.html' %}
</head>
<body>
    <h1>Perfil de Usuario</h1>
    <img src="avatar.jpg" alt="Imagen de perfil">
    <p><strong>Nombre:</strong> John Doe</p>
    <p><strong>Correo Electrónico:</strong> johndoe@example.com</p>
    <p><strong>Ubicación:</strong> Ciudad, País</p>
    <p><strong>Biografía:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p><strong>Intereses:</strong> Viajar, Fotografía, Deportes</p>
    <p><strong>Redes Sociales:</strong>
        <a href="https://www.facebook.com/johndoe">Facebook</a>
        <a href="https://twitter.com/johndoe">Twitter</a>
        <a href="https://www.linkedin.com/in/johndoe">LinkedIn</a>
    </p>

    <div class="col-md-6">
        <a href="/cambio_contrasena" class="btn btn-primary btn-lg btn-block">Cambiar Contraseña</a>
    </div>
</body>
</html>

