{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registro.css') }}">
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->
		<a class="inactive" href="/inicio_sesion"> INICIAR SESION</h2>
		<a class="active underlineHover" href="/registro">REGISTRARSE</a>


            <a></a>

            <form action="/registro" method="post">
                <input type="text" id="correo" class="fadeIn second" name="correo" placeholder="correo(*)">
                <input type="password" id="contrasena" class="fadeIn third" name="contrasena" placeholder="contraseña(*)">
                <input type="password" id="confirmar_contrasena" class="fadeIn fourth" name="confirmar_contrasena"
                    placeholder="Confirmar Contraseña(*)">
                <input type="submit" class="fadeIn fifth" value="Entrar">
           	<div id="formFooter">
			<input type="checkbox" id="casillaVerificacion" name="casillaVerificacion" required>
			<a class="underlineHover" href="./static/terminos_condiciones.pdf">Términos y condiciones</a>
            	</div>
	    </form>

            {% if error %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% elif success %}
            <p class="alert alert-success" role="alert">{{success}}</p>
            {% endif %}

            
    </div>
</div>

</body>

</html>
