{% include 'header.html' %}
<div class="container p-5 my-5 bg-dark text-white">
	<h1>Seleccione una imagen para extraer texto</h1>
	<div class="container bg-light py-3 my-3">
		<form method="POST" enctype="multipart/form-data">
			<label for="file" >
				<img src="static/fondo4.jpeg"  style="margin-right: 10px;" >
			</label>
				<input type="file" name="file" id="file" accept="image/*" required style="display: none;" onchange="submitForm()">
				<button type="submit" id="boton_submit" style="display: none;"></button>
		</form>
	</div>
	<div id="texto_extraido"></div>
	<h2>Texto extraído:</h2>
	<p style ="color:black"> {{ resultado }}</p>
</div>
<script>
	function submitForm() {
		document.getElementById("boton_submit").click();
	}
</script>


<div id="cookie-notification">
  <p>Este sitio utiliza cookies para mejorar tu experiencia. ¿Aceptas nuestras cookies?</p>
  <button onclick="aceptarCookies()">Aceptar</button>
  <button onclick="rechazarCookies()">Rechazar</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (!cookiesAceptadas() && !localStorage.getItem("cookiesRechazadas")) {
        mostrarNotificacionCookies();
    }
  });

  function mostrarNotificacionCookies() {
    var notification = document.getElementById("cookie-notification");
    notification.style.display = "block";
  }

  function aceptarCookies() {
    setCookie("cookiesAceptadas", "true", 30); // Establecer cookie de aceptación por 30 días
    document.getElementById("cookie-notification").style.display = "none";
	localStorage.setItem("cookiesAceptadas", "true");
  }

  function rechazarCookies() {
    // Puedes agregar acciones adicionales al rechazar cookies si es necesario
    document.getElementById("cookie-notification").style.display = "none";
	localStorage.setItem("cookiesRechazadas", "true");
  }

  function setCookie(nombre, valor, dias) {
    var fechaExpiracion = new Date();
    fechaExpiracion.setTime(fechaExpiracion.getTime() + (dias * 24 * 60 * 60 * 1000));
    var expira = "expires=" + fechaExpiracion.toUTCString();
    document.cookie = nombre + "=" + valor + ";" + expira + ";path=/";
  }

  function cookiesAceptadas() {
	return localStorage.getItem("cookiesAceptadas") === "true";
  }

  function getCookie(nombre) {
    var nombreC = nombre + "=";
    var cookies = decodeURIComponent(document.cookie).split(';');
    for(var i = 0; i < cookies.length; i++) {
      var c = cookies[i].trim();
      if (c.indexOf(nombreC) == 0) {
        return c.substring(nombreC.length, c.length);
      }
    }
    return "";
  }
</script>

{% include 'footer.html' %} 
