Flask==3.0.0
itsdangerous==2.1.2
mysql-connector-python==8.1.0
Flask_mail==0.9.1
pytesseract==0.3.10
fpdf==1.7.2
frontend==0.0.3
fitz==0.0.1.dev2
tools==0.1.9
python-docx==1.1.0
googletrans==3.1.0a0
Pillow==10.0.1
Werkzeug==3.0.0
passlib==1.7.4
bcrypt==4.1.1
